:root {
   --bg-color: #f0f0f0;
   --heading-color: #0e100f;
   --text-color: #111;
}

.menu-item p {
   position: absolute;
   top: 0%;
   width: 100%;
   font-weight: 500;
   text-transform: uppercase;
   line-height: 100%;
   letter-spacing: -0.02em;
   transition: color 0.25s;
}

.menu:hover .info p:nth-child(1),
.menu:hover .name p:nth-child(1),
.menu:hover .tag p:nth-child(1) {
   color: rgba(165, 165, 165, 0.381);
}

.preview-img img {
   object-fit: cover;
   position: absolute;
   top: 0;
   left: 0;
}

.fadeBottom {
   background-image: linear-gradient(
      180deg,
      /* Start */ transparent,
      /* Mid */ rgba(37, 37, 37, 0.61),
      /* End */ #111
   );
}

.strokeme {
   color: white;
   background-color: transparent;
   text-shadow: -1px -1px 0 rgb(0, 16, 74), 1px -1px 0 rgb(0, 16, 74),
      -1px 1px 0 rgb(0, 16, 74), 1px 1px 0 rgb(0, 16, 74);
}

.custom-hidden {
   opacity: 0;
   transition: all 1s;
   transform: translateX(-20%);
}

.custom-invert-hidden {
   opacity: 0;
   filter: blur(5px);
   transition: all 1s;
   transform: translateX(20%);
}

.show {
   opacity: 1;
   filter: blur(0);
   transform: translateX(0);
}

.tech-hidden {
   opacity: 0;
   transition: all 1s;
   transform: translateY(-20%);
}

.tech-show {
   opacity: 1;
   filter: blur(0);
   transform: translateY(0);
}

.about-hidden {
   opacity: 0;
   transition: all 0.6s;
   transition-delay: 200ms;
   transform: translateY(-40%);
}

.about-show {
   opacity: 1;
   filter: blur(0);
   transform: translateY(0);
}

.name-hidden {
   opacity: 0;
   transition: all 1s;
   transform: translateX(-100%);
}

.name-show {
   opacity: 1;
   filter: blur(0);
   transform: translateX(0);
}

.button-hidden {
   opacity: 0;
   transition: all 800ms;
   transform: translateY(-40%);
}

.button-show {
   opacity: 1;
   filter: blur(0);
   transition: all 0.6s;
   transform: translateY(0);
}
