@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");

:root {
   --bg-color: #f0f0f0;
   --heading-color: #0e100f;
   --text-color: #111;
   --text-color2: #0f172a;
   --bg-color2: hsl(0 0% 100%);
   --bg-size: 200px;
}

.menu-item p {
   position: absolute;
   top: 0%;
   width: 100%;
   font-weight: 500;
   text-transform: uppercase;
   line-height: 100%;
   letter-spacing: -0.02em;
   transition: color 0.25s;
}

.menu:hover .info p:nth-child(1),
.menu:hover .name p:nth-child(1),
.menu:hover .tag p:nth-child(1) {
   color: rgba(165, 165, 165, 0.381);
}

.preview-img img {
   object-fit: cover;
   position: absolute;
   top: 0;
   left: 0;
}

.fadeBottom {
   background-image: linear-gradient(
      180deg,
      /* Start */ transparent,
      /* Mid */ rgba(37, 37, 37, 0.61),
      /* End */ #111
   );
}

.fadeBottomCustom {
   background-image: linear-gradient(
      180deg,
      transparent,
      transparent,
      rgba(17, 17, 17, 0.6),
      rgba(17, 17, 17, 0.8),
      rgba(17, 17, 17, 1)
   );
}

.hollowText {
   font-family: "Dela Gothic One";
   --stroke: min(0.25vmin, 2px) var(--text-color2);
   color: var(--bg-color2);
   -webkit-text-stroke: var(--stroke);
   text-stroke: var(--stroke);
}

.strokeme {
   color: white;
   background-color: transparent;
   text-shadow: -1px -1px 0 rgb(0, 16, 74), 1px -1px 0 rgb(0, 16, 74),
      -1px 1px 0 rgb(0, 16, 74), 1px 1px 0 rgb(0, 16, 74);
}

.glassmorphism {
   background: rgba(255, 255, 255, 0.05);
   box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
   backdrop-filter: blur(0.4px);
   -webkit-backdrop-filter: blur(0.4px);
   border-radius: 10px;
}

.custom-hidden {
   opacity: 0;
   transition: all 1s;
   transform: translateY(20%);
}

/* .custom-invert-hidden {
   opacity: 0;
   filter: blur(5px);
   transition: all 1s;
   transform: translateY(20%);
} */

.custom-desktop-hidden {
   opacity: 0;
   transition: all 1s;
   transform: translateX(-20%);
}

.custom-invert-desktop-hidden {
   opacity: 0;
   filter: blur(5px);
   transition: all 1s;
   transform: translateX(20%);
}

.show {
   opacity: 1;
   filter: blur(0);
   transform: translateX(0);
}

.desktop-show {
   opacity: 1;
   filter: blur(0);
   transform: translateY(0);
}

.tech-hidden {
   opacity: 0;
   transition: all 1s;
   transform: translateY(-20%);
}

.tech-show {
   opacity: 1;
   filter: blur(0);
   transform: translateY(0);
}

.about-hidden {
   opacity: 0;
   transition: all 0.6s;
   transition-delay: 200ms;
   transform: translateY(-40%);
}

.about-show {
   opacity: 1;
   filter: blur(0);
   transform: translateY(0);
}

.name-hidden {
   opacity: 0;
   transition: all 1s;
   transform: translateX(-100%);
}

.name-show {
   opacity: 1;
   filter: blur(0);
   transform: translateX(0);
}

.button-hidden {
   opacity: 0;
   transition: all 800ms;
   /* transform: translateY(-40%); */
}

.button-show {
   opacity: 1;
   filter: blur(0);
   transition: all 0.6s;
   /* transform: translateY(0); */
}

.animated-bg {
   background-image: linear-gradient(
      125deg,
      #0c0404,
      #250701,
      #0d110b,
      #21221f,
      #346969,
      #555555
   );
   background-size: 400% 400%;
   animation: bganimation 12s infinite;
   background-repeat: repeat;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   -webkit-font-smoothing: antialiased;
}

.animated-bg-white {
   background-image: linear-gradient(
      125deg,
      #f0f0f0,
      /* soft white */ #e8e8e8,
      /* very light grey */ #f5f5f5,
      /* slightly darker soft white */ #dddddd,
      /* light grey */ #cccccc,
      /* another shade of light grey */ #ffffff /* pure white */
   );

   background-size: 400% 400%;
   animation: bganimation 4s infinite;
   background-repeat: repeat;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   -webkit-font-smoothing: antialiased;
}

.wave {
   position: absolute;
   width: 120%;
   height: 100%;
   /* top: -50%;
   left: -50%;  */
   top: -50%;
   left: -11.2%;
   background: rgba(255, 255, 255, 0.2);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   -webkit-font-smoothing: antialiased;
   opacity: 0.6;
   border-radius: 50%;
   animation: wave 8s infinite ease-in-out;
}

.wave:nth-child(2) {
   animation-delay: 7s;
   background: rgba(255, 255, 255, 0.1);
}

@keyframes bganimation {
   0% {
      background-position: 50% 0%;
   }
   50% {
      background-position: 50% 100%;
   }
   100% {
      background-position: 50% 0%;
   }
}

@keyframes wave {
   0% {
      transform: translateX(0) translateY(0);
   }
   50% {
      transform: translateX(10px) translateY(10px);
   }
   100% {
      transform: translateX(0) translateY(0);
   }
}
