:root {
   --bg-color: #f0f0f0;
   --heading-color: #0e100f;
   --text-color: #111;
}

.menu-item p {
   position: absolute;
   top: 0%;
   width: 100%;
   font-weight: 500;
   text-transform: uppercase;
   line-height: 100%;
   letter-spacing: -0.02em;
   transition: color 0.25s;
}

.menu:hover .info p:nth-child(1),
.menu:hover .name p:nth-child(1),
.menu:hover .tag p:nth-child(1) {
   color: rgba(165, 165, 165, 0.381);
}

.preview-img img {
   object-fit: cover;
   position: absolute;
   top: 0;
   left: 0;
}
