/* @import url(https://db.onlinewebfonts.com/c/d822355ded2bed1fe6f62293599d5653?family=Coign+Pro+37+Bold); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
   .custom-text {
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 2px;
      transition: all 0.3s;
   }

   .custom-text-unset {
      -webkit-text-fill-color: unset;
   }
}
